<?xml version="1.0" encoding="UTF-8"?>
<con:testSuite id="af3358d1-5a59-4109-bcf4-4823dcbbe457" name="TestSuite" xmlns:con="http://eviware.com/soapui/config">
  <con:settings>
    <con:setting id="af3358d1-5a59-4109-bcf4-4823dcbbe457fileName">TestSuite</con:setting>
  </con:settings>
  <con:runType>SEQUENTIAL</con:runType>
  <con:properties/>
  <con:reportParameters/>
</con:testSuite>
