<?xml version="1.0" encoding="UTF-8"?>
<con:testSuite id="5e59e7b2-0697-491b-b47b-dd65d0d772b0" name="TestSuite" xmlns:con="http://eviware.com/soapui/config">
  <con:settings>
    <con:setting id="5e59e7b2-0697-491b-b47b-dd65d0d772b0fileName">TestSuite</con:setting>
  </con:settings>
  <con:runType>SEQUENTIAL</con:runType>
  <con:properties/>
  <con:reportParameters/>
</con:testSuite>
